{% extends 'base.html' %}
{% block title %}
  Courses | IITMS College
{% endblock %}
{% block content %}
  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h1 class="display-3 text-white animated slideInDown">Courses</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item">
                <a class="text-white" href="#">Home</a>
              </li>
              <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Categories Start -->
  <div class="container-xxl py-5 category">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
        <h1 class="mb-5">Fire & Rescue Courses</h1>
      </div>
      <div class="row g-3">
        <div class="col-lg-7 col-md-6">
          <div class="row g-3">
            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="https://images.pexels.com/photos/1374455/pexels-photo-1374455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                  <h5 class="m-0">Fire Safety Training</h5>
                  <small class="text-primary">30 Courses</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="https://images.pexels.com/photos/48125/firefighter-extinguish-fire-extinction-48125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                  <h5 class="m-0">Emergency Response</h5>
                  <small class="text-primary">25 Courses</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="https://images.pexels.com/photos/47863/firefighter-extinguish-fire-extinction-47863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                  <h5 class="m-0">Rescue Operations</h5>
                  <small class="text-primary">20 Courses</small>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
          <a class="position-relative d-block h-100 overflow-hidden" href="">
            <img class="img-fluid position-absolute w-100 h-100" src="https://images.pexels.com/photos/5965200/pexels-photo-5965200.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" style="object-fit: cover;" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
              <h5 class="m-0">Fire Management</h5>
              <small class="text-primary">15 Courses</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories End -->

  <!-- Courses Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow" data-aos="flip-up">
        <h6 class="section-title bg-white text-center text-primary px-3">Fire & Rescue</h6>
        <h1 class="mb-5">Professional Training Courses</h1>
      </div>
      <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow" data-aos="flip-left">
          <div class="course-item bg-light h-100">
            <div class="position-relative overflow-hidden">
              <img class="img-fluid" src="https://images.pexels.com/photos/162540/career-firefighter-relaxing-job-162540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
              <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" data-aos="flip-up" style="border-radius: 30px 0 0 30px;">Read More</a>
                <a href="courses" class="flex-shrink-0 btn btn-sm btn-primary px-3" data-aos="flip-down" style="border-radius: 0 30px 30px 0;">Join Now</a>
              </div>
            </div>
            <div class="text-center p-4 pb-0">
              <div class="mb-3">
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small>(85)</small>
              </div>
              <h5 class="mb-4" data-aos="flip-up">
                Basic Fire Safety
                <br />Training
              </h5>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Jane Smith</small>
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>2 Hrs</small>
              <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>50 Students</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow" data-aos="flip-right">
          <div class="course-item bg-light h-100">
            <div class="position-relative overflow-hidden">
              <img class="img-fluid" src="https://images.pexels.com/photos/5965196/pexels-photo-5965196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
              <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
              </div>
            </div>
            <div class="text-center p-4 pb-0">
              <div class="mb-3">
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star-half-alt text-primary"></small>
                <small>(65)</small>
              </div>
              <h5 class="mb-4">Advanced Rescue Operations</h5>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Robert Lee</small>
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>3 Hrs</small>
              <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>40 Students</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow" data-aos="flip-right">
          <div class="course-item bg-light h-100">
            <div class="position-relative overflow-hidden">
              <img class="img-fluid" src="https://images.pexels.com/photos/6520180/pexels-photo-6520180.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
              <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                <a href="courses" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
              </div>
            </div>
            <div class="text-center p-4 pb-0">
              <div class="mb-3">
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star-half-alt text-primary"></small>
                <small>(92)</small>
              </div>
              <h5 class="mb-4">First Aid and Emergency Care</h5>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Emily Brown</small>
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.5 Hrs</small>
              <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>60 Students</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Courses End -->
{% endblock %}
