{% extends 'base.html' %}

{% block title %}
Courses | IITMS College
{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">Gallery</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
              <a class="text-white" href="#">Home</a>
            </li>
            <li class="breadcrumb-item text-white active" aria-current="page">Gallery</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Gallery Start -->
<div class="container-xxl py-5 gallery">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">Gallery</h6>
      <h1 class="mb-5">Fire and Rescue Gallery</h1>
    </div>
    <div class="row g-3">
      <div class="col-lg-7 col-md-6">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
            <a class="position-relative d-block overflow-hidden" href="#">
              <img class="img-fluid border-0" src="static/img/2425.jpg" alt="Gallery Image" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">2024 - 2025</h5>
                <small class="text-primary">Fire & safety batch</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <a class="position-relative d-block overflow-hidden" href="#">
              <img class="img-fluid" src="static/img/logistics.jpg" alt="Gallery Image" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">Rescue Operations</h5>
                <small class="text-primary">Explore More</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <a class="position-relative d-block overflow-hidden" href="#">
              <img class="img-fluid" src="static/img/logistics1.jpg" alt="Gallery Image" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">Firefighting Techniques</h5>
                <small class="text-primary">Explore More</small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
        <div class="d-flex flex-column h-100">
          <!-- Image 1 -->
          <a class="position-relative d-block overflow-hidden flex-fill" href="#" style="height: 50%;">
            <img class="img-fluid position-absolute w-100 h-100"
              src="https://images.pexels.com/photos/5965196/pexels-photo-5965196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Gallery Image" style="object-fit: cover;" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
              <h5 class="m-0">Emergency Response Training</h5>
              <small class="text-primary">Explore More</small>
            </div>
          </a>

          <!-- Image 2 -->
          <a class="position-relative d-block overflow-hidden flex-fill" href="#" style="height: 50%;">
            <img class="img-fluid position-absolute w-100 h-100" src="static/img/gallery23.jpg" alt="Gallery Image"
              style="object-fit: cover;" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
              <h5 class="m-0">Fire Equipment Training</h5>
              <small class="text-primary">Explore More</small>
            </div>
          </a>
        </div>
      </div>

    </div>
    <br>
    <div class="row g-3">
      <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
        <div class="d-flex flex-column h-100">
          <!-- Image 1 -->
          <a class="position-relative d-block overflow-hidden flex-fill" href="#" style="height: 50%;">
            <img class="img-fluid position-absolute w-100 h-100"
              src="https://images.pexels.com/photos/5965196/pexels-photo-5965196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Gallery Image" style="object-fit: cover;" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
              <h5 class="m-0">Emergency Response Training</h5>
              <small class="text-primary">Explore More</small>
            </div>
          </a>

          <!-- Image 2 -->
          <!-- Image 2 -->
          <a class="position-relative d-block overflow-hidden flex-fill" href="#" style="height: 50%;">
            <img class="img-fluid position-absolute w-100 h-100" src="static/img/gallery23.jpg" alt="Gallery Image"
              style="object-fit: cover;" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
              <h5 class="m-0">Fire Equipment Training</h5>
              <small class="text-primary">Explore More</small>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-7 col-md-6">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
            <a class="position-relative d-block overflow-hidden" href="#">
              <img class="img-fluid border-0" src="static/img/logistics4.jpg" alt="Gallery Image" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">2024 - 2025</h5>
                <small class="text-primary">Logistics & supply chain management</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <a class="position-relative d-block overflow-hidden" href="#">
              <img class="img-fluid" src="static/img/logistics3.jpg" alt="Gallery Image" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">2024 - 2025</h5>
                <small class="text-primary">Logistics & supply chain management</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <a class="position-relative d-block overflow-hidden" href="#">
              <img class="img-fluid" src="static/img/logistics5.jpg" alt="Gallery Image" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">2024 - 2025</h5>
                <small class="text-primary">Logistics & supply chain management</small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery End -->
{% endblock %}